h1 {
   font-style: sans-serif;
   font-size: 70px;
   text-align: center;

}


* {
    background-color: rgb(155, 58, 2);
}

.Curry,
.Chicken,
.Burger {
    font-size: 40px;
    color: rgb(119, 4, 4);
    text-align: center;
}





